<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ anime.title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>{{ anime.title }}</h1>
    </header>
    <main>
        <div class="anime-card">
            {% if anime['images'] and anime['images'].get('webp') %}
                <img src="{{ anime['images']['webp'].get('large_image_url', '') }}" alt="{{ anime.title }}">
            {% else %}
                <p>No image available</p>
            {% endif %}
            <div class="anime-details">
                <h2 class="anime-title">{{ anime.title }}</h2>
                <p class="anime-synopsis">{{ anime.synopsis }}</p>
                <div class="anime-info">
                    <div><strong>Score:</strong> {{ anime.score }}</div>
                    <div><strong>Episodes:</strong> {{ anime.episodes }}</div>
                    <div><strong>Air Dates:</strong> {{ anime.aired['string'] }}</div>
                </div>
                <a href="{{ anime.url }}" target="_blank">More Info</a>
            </div>
        </div>
    </main>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
